#overlay {
    display:none;
    width:100%;
    height:100%;
    z-index: 5;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0;
}

   #vid {
       float:left;
       min-width:50%;
       padding:5px 5px;
       position:relative;
   }
   
   #annot {
   min-width:250px;
   overflow:hidden;
   padding-left:20px;
   padding-right:20px;
   /*min-width:50%;*/
   }

   #submit{
    color: black;
    font-size: 12px;
   }

   #submit:hover {
   background-color:red;
   }

   #ramme {
   /*border:2px solid red;
   background-color: #ccc; */
       width: 100%;
       height: 100%;
       position: relative;
   }

   .my-clear { clear:both}


   body {background-color: lightgrey;} 
